.dropArea {
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: sans-serif;
  margin: 15px auto;
  padding: 3%;
}

.dropArea.highlight {
  border-color: purple;
}

.button {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.button:hover {
  background: #ddd;
}

.fileElem {
  display: none;
}

.viewDropArea {
  width: 80%;
  margin: 5% auto;
  padding: 3%;
  text-align: center;  
}