
.viewDropArea {
  max-width: 80%;
  margin: 80px auto 0px;
  text-align: center;  
}

.buttonArea {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dropArea {
  border: 2px dashed #ccc;
  border-radius: 20px;
  margin: 15px auto;
  padding: 3%;
}

.dropArea.highlight {
  border-color: purple;
}

.fileElem {
  display: none;
}